/* ===== BASE STYLES ===== */

html {
  font-size: 1.44em; /* 26.4px */
  line-height: 1.44em; /* 31.68px / ~ 120% */
  text-rendering: optimizeLegibility;
  font-family:sans-serif;
}

label, input, select{
  width: 85%;
  margin: auto;
  display: block;
}

h1, p {
  width: 85%;
  margin: auto;
  display: block;
  text-align: center;
}

div {
    padding: 0.5em 0 0.5em 0;
}

/* ===== LAYOUT STYLES ====== */

input, select{
  border-radius: 0.3em;
  border: 1px solid #ccc;
  padding: 0.7em;
}

select {
  width: 87%;
}

#header {
  background-color: #A0A0A0;
}

#submitbutton{
  width: 70%;
}