/* ===== BASE STYLES ===== */

html {
  font-size: 1.44em; /* 31.68px */
  line-height: 1.728em; /* 38.016 / ~ 120% */
  text-rendering: optimizeLegibility;
  font-family:sans-serif;
}

label, input, select{
  width: 85%;
  margin: auto;
  display: block;
}

h1, p {
  width: 85%;
  margin: auto;
  display: block;
  text-align: center;
}

div {
    padding: 0.5em 0 0.5em 0;
}

/* ===== LAYOUT STYLES ====== */

input, select{
  border-radius: 0.3em;
  border: 1px solid #ccc;
  padding: 0.7em;
}

select {
  width: 87%;
}

#header {
  background-color: #A0A0A0;
}

#submitbutton{
  width: 70%;
}

/* Tablet Devices */
@media only screen and (min-width : 480px) {

    label, input, select{
      display: inline-block;
    }
    
    label {
      text-align: center;
      width: 38%;
    }

    input {
      width: 50%;
    }

    select {
      width: 55%;
    }

    #content {
      display: block;
      margin: auto;
      width: 95%;
    }
  
    #submitbutton {
      width: 50%;
      display: block;
    }
}

